.crousel {
    position: relative;
    z-index: 999;
}

.searchBar {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    z-index: 1000;
}